
//custom variables
$body-background: #f4fcfc;
$card-colour: #e6e6e6e1;
$text-colour: #000;
$button-background: #900C3F;
$button-text: #f4fcfc;
$brand-primary: #999;
$primary-font-size: 15pt;
$secondary-font-size: $primary-font-size /3pt;
$main-content-class: "Movies";
$card-border-width:2px;
$card-border-color:#900C3F;
$card-spacer-x:2px;
$card-spacer-y:2px;